{% extends "base.html" %}

{% block content %}
<div style='padding: 15px; font-size: large;'><span>Nazywam się Mikołaj Miłoś i jestem studentem kierunku Informatyka Stosowana na Uniwersytecie Ekonomicznym w Krakowie. W ramach tego kierunku jestem także starostą obydwu grup dziekańskich. Na codzień pracuje jako Technical Support Helpdesk Senior, aczkolwiek w niedalekiej przyszłości chciałbym zmienić zawód na jakiś związany z programowaniem. Zainteresowałem się nim pierwszy raz w okolicach szkoły podstawowej i wtedy zaczęła się moja pasja do tej dziedziny informatyki. Najczęściej zdarza mi się pisać w językach C# oraz JavaScript, aczkolwiek ten drugi głównie ze względu na środowisko, w którym musiałem pisać.</span></div>
<br>
<a style = 'padding: 15px;' href="https://github.com/wezur">Github</a><br>
<a style = 'padding: 15px;' href="https://www.linkedin.com/in/mikolajmilos/">LinkedIn</a>
{% endblock %}