<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="/static/styles/main.css">

</head>

<body>
	<header>
		<p class="Logo">Ceneo Scraper</p>
		<input type="checkbox" name="" class="btn" />
		<div class="nav">
			<ol>
				<li><a href="/extract/">Ekstracja opinii</a></li>
				<li><a href="#">Lista produktów</a></li>
				<li><a href="/">Strona główna</a></li>
				<li><a href="#">O autorze</a></li>
			</ol>
		</div>
	</header>
	<div class="container">
		<h1>{{ title }}</h1>
		<hr>
		{% block content %}{% endblock %}
	</div>
</body>
</html>