{% extends "base.html" %}

{% block content %}
<table id="data">
  <thead>
    <tr>
      <th>ID Opinii</th>
      <th>Autor</th>
      <th>Rekomendacja</th>
      <th>Ocena</th>
      <th>Data opinii</th>
      <th>Data zakupu</th>
      <th>+</th>
      <th>-</th>
      <th>Treść opinii</th>
      <th>Zalety</th>
      <th>Wady</th>
    </tr>
  </thead>
  <tbody>
    {% for review in reviews %}
      <tr>
        <td>{{ review.reviewId }}</td>
        <td>{{ review.author }}</td>
        <td>{{ review.recommendation }}</td>
        <td>{{ review.starCount }}</td>
        <td>{{ review.reviewDate }}</td>
        <td>{{ review.purchaseDate }}</td>
        <td>{{ review.voteYesCount }}</td>
        <td>{{ review.voteNoCount }}</td>
        <td>{{ review.content }}</td>
        <td>
          <ul>
            {% for pros in review.pros %}
            <li>{{ pros }}</li>
            {% endfor %}
          </ul>
        </td>
        <td>
          <ul>
            {% for cons in review.cons %}
            <li>{{ cons }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block additional %}

<button class='button' style="
float: right;
margin-top: -10px;
" onclick="window.location.href += `graphs/`">Wykresy</button><br>

<div class="dropdown"
style="
float:right;
margin-top: -10px;
margin-bottom: -10px;
">
  <button class="button">Pobierz</button>
  <div class="dropdown-content">
    <a href="download/csv/">.csv</a>
    <a href="download/json/">.json</a>
    <a href="download/xlsx/">.xlsx</a>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $('#data').DataTable({
      'language': {
            'url': '//cdn.datatables.net/plug-ins/1.11.5/i18n/pl.json'
        }
    });
  });

</script>

{% endblock %}